<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>关于 RESTful Client</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">软件介绍</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>RESTful Client 是一个 API 测试工具。</p>
                    <p>你可以很轻松的创建并测试你的 API 。</p>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">第三方软件</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#electron" aria-expanded="true">Electron</a>
                            </h4>
                        </div>
                        <div id="electron" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="box-body">
                                <p>The Electron framework lets you write cross-platform desktop applications using JavaScript, HTML and CSS. It is based on Node.js and Chromium.</p>
                                <a href="javascript:void(0)"><i class="fa fa-github"></i> https://github.com/electron/electron</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#adminlte" aria-expanded="true">AdminLTE</a>
                            </h4>
                        </div>
                        <div id="adminlte" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="box-body">
                                <p>AdminLTE -- is a fully responsive admin template. Based on Bootstrap 3 framework. Highly customizable and easy to use. Fits many screen resolutions from small mobile devices to large desktops. Check out the live preview now and see for yourself.</p>
                                <a href="javascript:void(0)"><i class="fa fa-github"></i> https://github.com/almasaeed2010/AdminLTE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->